<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Arbre de compétences Simplon Cloud</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../static/logo.png" alt="logo simplon"></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="sass.html">Apprenants</a></li>
              <li><a href="badges.html">Components</a></li>
            </ul>
          </div>
        </nav>
      </div>            
    <main>
      <canvas id="myChart"></canvas>
    </main>
    <footer>
      <p>By GogoDev with love <3 !</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',

          // The data for our dataset
          data: {
              labels: ['Développer une appli cloud native', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'],
              datasets: [{
                  label: 'My First dataset',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 1, 0, 2, 2, 1, 3]
              }]
          },

          // Configuration options go here
          options: {}
      });
    </script>
</body>
</html>